/* Use this file to add custom CSS to be used for this project. */
/* Do NOT create other CSS files in this folder, as they will not be available in the bundled application! */
/* `@imports` fetching remote CSS are okay. */

figcaption {
  font-style: italic;
  color: gray;
  text-align: center;
}

figure {
  margin-top: 0px !important;
  margin-bottom: 10px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: table !important;
}

a {
  text-decoration: none;
}

lite-youtube {
  margin: 0 auto !important;
}

.dashed a {
  text-decoration: underline dashed #FF7700;
  text-decoration-thickness: 2px;
} 

.markdown-body img {
  margin: 0 auto !important;
  display: table !important;
}

.markdown { /* For Styling the Blog entries */
  font-family: 'IBM Plex Sans', 'Noto Emoji Color Subset' !important;
  user-select: text !important;
}

.markdown-body { /* For Styling the Documentation Sub-Pages */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: "IBM Plex Sans", "Noto Color Emoji", "Font Awesome", "Tabler Icons", "Material Icons";
  user-select: text;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.history-caption {
  height: fit-content !important;
}

.history-caption > .newtext-text-layer {
  height: fit-content !important;
  position: relative !important;
}

.docs-image > img {
  filter: drop-shadow(5px 1px 5px #4a4a4a);
}

.responsive-video > video {
  max-width: 400px; /*TODO: */
  width: 100%;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: table;
}

/* https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.css */

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: #24292e;
  background: #ffffff
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #d73a49
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #6f42c1
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #005cc5
}
.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #032f62
}
.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: #e36209
}
.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: #6a737d
}
.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #22863a
}
.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #24292e
}
.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #005cc5;
  font-weight: bold
}
.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #735c0f
}
.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #24292e;
  font-style: italic
}
.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #24292e;
  font-weight: bold
}
.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #22863a;
  background-color: #f0fff4
}
.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #b31d28;
  background-color: #ffeef0
}
.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
  
}