/* Use this file to add custom CSS to be used for this project. */
/* Do NOT create other CSS files in this folder, as they will not be available in the bundled application! */
/* `@imports` fetching remote CSS are okay. */

@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css");

figcaption {
  font-style: italic;
  color: gray;
}
a {
  text-decoration: none;
}

.dashed a {
  text-decoration: underline dashed #FF7700;
  text-decoration-thickness: 2px;
} 

.markdown-body {
  font-family: 'IBM Plex Sans', 'Noto Emoji Color Subset' !important; 
}

.markdown {
  font-family: 'IBM Plex Sans', 'Noto Emoji Color Subset' !important; 
}
